*{
    margin: 0;
    padding: 0;
}

.container-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    height: 100vh;
    width: 100vw;
    background-image: url(https://img.freepik.com/premium-photo/group-3d-gold-coins-background_653240-122.jpg)
}

.container-content-flex{
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: lightgreen;
    border-radius: 10px;
}